
$black-normal: #0D0E10;
$black-light: #15171A;
$black-dark: #050607;

$white-normal: #F5F7F7;
$white-light: #FAFCFC;
$white-dark: #EDEFF0;

$blue-normal: #2DC7ED;
$blue-light: #4DDCFF;
$blue-dark: #15AED4;